@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationRole> 

@{
    ViewBag.Title = "List Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="Administrator">Add New Role</a>

    foreach (var role in Model)
    {

        <div class="card mb-3"> 
            <div class="container">
                <div class="row">
                    <div class="col-sm-3"> Role Id : @role.Id</div>
                    <div class="col-sm-3"> <h5 class="card-title">@role.Name</h5></div>
                    <div class="col-sm-3"> <h5 class="card-title">@role.Description</h5></div>
                    <div class="col-sm-3"> <a asp-controller="Administrator" asp-action="EditRole" asp-route-roleId="@role.Id" class="btn btn-primary">Edit</a></div>
                    <div class="col-sm-3"> <a asp-controller="Administrator" asp-action="Delete" asp-route-roleId="@role.Id"  class="btn btn-danger">Delete</a></div>
  </div> 
            </div> 
        </div>
    }
}
else
{
     <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
         asp-controller="Administrator">Add New Role</a>

    <div class="card">
        <div class="card-header">
            No roles created yet
        </div> 
    </div>
}

 